{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<h1>Transaction History</h1>
<table class="center">
  <thead>
    <tr class="vertical_align">
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for eachTransaction in transactions %}
    <tr>
      <td>{{ eachTransaction.symbol }}</td>
      <td>{{ eachTransaction.quantity }}</td>
      <td>{{ usd(eachTransaction.unitprice) }}</td>
      <td>{{ eachTransaction.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
